body {
  background: rgb(10, 161, 176);
  color: #e0e0e0;
}
input,
textarea {
  color: #e0e0e0;
}
.messages {
  border-color: #858585;
}
.nick {
  color: #0099cc;
}
.trip {
  color: #626261;
}
.text a {
  color: #f2f2f2;
}
.me .nick {
  color: #9568aa;
}
.info .nick,
.info .text {
  color: #99c21d;
}
.warn .nick,
.warn .text {
  color: #fbba37;
}
.admin .nick {
  color: #e94749;
}
#footer {
  background: #212121;
}
#sidebar {
  background: #333333;
  border-color: #858585;
}
#chatform {
  border-color: #858585;
}
